<template name="header">
    <div class="ui fixed main menu">
        <a class="{{isActiveRoute regex='^er'}} item" href="/">
            EarthRef.org
        </a>
        <a class="{{isActiveRoute regex='^err'}} item" href="/ERR">
            ERR
        </a>
        <a class="{{isActiveRoute regex='^erda'}} item" href="/ERDA">
            ERDA
        </a>
        <a class="{{isActiveRoute regex='^germ'}} item" href="/GERM">
            GERM
        </a>
        <a class="{{isActiveRoute regex='^magic'}} item" href="/MagIC">
            MagIC
        </a>
        <a class="{{isActiveRoute regex='^sbn'}} item" href="/SBN">
            SBN
        </a>
        <a class="{{isActiveRoute regex='^scc'}} item" href="/SCC">
            SCC
        </a>
        <a class="{{isActiveRoute regex='^femo'}} item" href="/FeMO">
            FEMO
        </a>
        <a class="{{isActiveRoute regex='^erese'}} item" href="/MagIC">
            ERESE
        </a>
    </div>
</template>

