<template name="header">
    <div class="ui fixed main menu">
        <a class="{{isActiveRoute regex='^er'}} item" href="/">
            EarthRef.org
        </a>
        <a class="{{isActivePath}} item">
            ERR
        </a>
        <a class="{{isActivePath}} item">
            ERDA
        </a>
        <a class="{{isActivePath}} item">
            GERM
        </a>
        <a class="{{isActiveRoute regex='^magic'}} item" href="/MagIC">
            MagIC
        </a>
        <a class="{{isActivePath}} item">
            SBN
        </a>
        <a class="{{isActivePath}} item">
            SCC
        </a>
        <a class="{{isActivePath}} item">
            FEMO
        </a>
        <a class="{{isActivePath}} item">
            ERESE
        </a>
    </div>
</template>

