<template name="magic">
	<div class="ui grid">
    <div class="five wide column">
      <div class="ui segment">
        <div class="ui top attached label">
          Your Own Contributions
        </div>
        <p>My Contributions</p>
        <hr>
        <p>Upload New Contribution</p>
      </div>
      <div class="ui segment">
        <div class="ui top attached label">
          Recent Contributions
        </div>
        <p>Bowles, J.A., Colman, A., Mcclinton, J.T., Sinton, J.M., White, S.M. and Rubin, K.H. (2014). Eruptive timing and 200 year episodicity at 92W on the hot spot-influenced Galapagos Spreading Center derived from geomagnetic paleointensity. Geochemistry Geophysics Geosystems 15: 1-14. doi: 10.1002/2014GC005315 x
        <img class="ui tiny center image" src="/images/magic/bowles2014.png">
        </p>
        <hr>
        <p>Tauxe, L. and Hartl, P. (1997). 11 million years of Oligocene geomagnetic field behaviour. Geophysical Journal International 128: 217-229. doi: 10.1111/j.1365-246X.1997.tb04082.x
        <img class="ui tiny center image" src="/images/magic/tauxe1997.png">
        </p>
        <hr>
        <p>Roperch, P., Chauvin, A., Le Pennec, J.L. and Lara, L.E. (2014). Paleomagnetic study of juvenile basalticâandesite clasts from Andean pyroclastic density current deposits. Physics of the Earth and Planetary Interiors 227: 20-29. doi: 10.1016/j.pepi.2013.11.008.
        <img class="ui tiny center image" src="/images/magic/roperch2014.png">
        </p>
        <hr>
        <p>Shaar, R., Ben-Yosef, E., Ron, H., Tauxe, L., Agnon, A. and Kessel, R. (2011). Geomagnetic field intensity: How high can it get? How fast can it change? Constraints from Iron Age copper slag. Earth and Planetary Science Letters 301(1-2): 297-306. doi: 10.1016/j.epsl.2010.11.013.
        <img class="ui tiny center image" src="/images/magic/shaar2011.png">
        </p>
        <hr>
        <p>Evans, M.E., Pavlov, V., Veselovsky, R. and Fetisova, A. (2014). Late Permian paleomagnetic results from the Lodeve, Le Luc, and Bas-Argens Basins (southern France): Magnetostratigraphy and geomagnetic field morphology. Physics of the Earth and Planetary Interiors 237: 18-24. doi: 10.1016/j.pepi.2014.09.002.
        <img class="ui tiny center image" src="/images/magic/evans2014.png">
        </p>
      </div>
    </div>
    <div class="seven wide column">
      <div class="ui segment" style="padding-bottom : 12em">
        <div class="ui top attached label">
          Search the MagIC Database
        </div>
        <p><a href="/MAGIC/search"><b>Search</b></a></p>
        <p>Video showing a simple search sequence</p>
      </div>
      <div class="ui segment" >
        <div class="ui top attached label">
          MagIC Global Seminar
        </div>
        <p>The Magnetics Information Consortium (MagIC) continues its global seminar series in 2015. The seminar will be held on select Mondays each month at 8am Pacific Time. This early start in Pacific Time will allow those in Europe to join at a reasonable hour. In the seminar a presentation of a recent paper will be given using Adobe Connect. Ample time will be given to discussion during and after the presentation. Each seminar will have a presenter as coordinated by the MagIC team. Please visit the <a href="/MAGIC/seminar_series"><b>MagIC seminar website</b></a> for the seminar schedule, recordings of past seminars, and other details.
        </p>
        <hr>
       <ul style="padding : 0;" type="none">
          <li><b>Next Seminar</b><br></li>
          <li>Time/Date: 27 April 2015 08:00 PDT</li>
          <li>Paper: TBA</li>
          <li>Presenter: Julie Bowles</li>
        </ul>

      </div>
      <div class="ui segment">
        <div class="ui top attached label">
          In the News
        </div>
        <p>"Hi.  Joe Meert and I are happy to report that we are convening a Topical Session at the 2015 Annual Meeting of the Geological Society of America, in Baltimore, the purpose of which is to celebrate the career of Professor Rob Van der Voo and his many, many contributions to paleomagnetism, rock magnetism and the geosciences in general.  The Topical Session is T64, and is titled “Rotations, Oroclinal Bending; Variscan-Alleghenian Nondipoles; Diagenetic Enigmatic Remagnetizations; Vignettes of Orogenies and Oceans: A Celebration of Rob Van der Voo's Career”.  The deadline for the submission of abstracts is midnight Pacific Time, 11 August 2015.  The Topical Session will, hopefully, consist of a mix of oral (with several invited speakers) and poster sessions.
        </p>
        <p>
        Should you have any questions about the session, please do not hesitate to contact one or both of us.  Many thanks and we hope that you will consider contributing to what promises to be an excellent and enjoyable scientific experience!
        </p>
        <p>
        John Geissman, geissman@utdallas.edu
        </p>
        <p>
        Joe Meert, jmeert@ufl.edu
        </p>
        <hr>
        <p>
        The MagIC Science & Database Workshop will be held in La Jolla, CA from 12-14 May, 2014. There will be a Special Hands-on MagIC Data Upload Workshop and scientific keynotes. See the Meeting's Website for More Information ...
        </p>
      </div>
    </div>
    <div class="four wide column">
      <div class="ui segment">
        <div class="ui top attached label">
          MagIC Help
        </div>
        <p style="margin-bottom : 0em"><b>Tutorials</b></p>
        <ul list-type="none" style="padding-left : 1em; margin-top : 0em">
          <p style="margin: 0em 0em 0em">Search</p>
          <p style="margin: 0em 0em 0em">Upload</p>
          <p>Download</p>
        </ul>
        <hr>
        <p><b>Contact</b></p>
      </div>
      <div class="ui segment">
        <div class="ui top attached label">
          MagIC Links
        </div>
        <ul style="padding : 0em; margin-bottom : 0em" type="none">
          <li><a href="/PmagPy/cookbook/">PmagPy Software</a></li>
          <li><hr></li>
          <li>Goals and Philosophy</li>
          <li>User and Data Policy</li>
          <li><hr></li>
          <li>MagIC Data Model</li>
          <li>Method Codes</li>
          <li>Instrument Codes</li>
          <li>Controlled Vocabularies</li>
          <li><hr></li>
          <li>MagIC Data Management Plan Tool</li>
          <li>Frequently Asked Questions</li>
        </ul>
      </div>
      <div class="ui segment">
        <div class="ui top attached label">
          Participants
        </div>
        <ul style="padding-left: 10px; margin-bottom : 0em">
          <li>Steering Committee</li>
          <li>Metadata and Method Codes Committee</li>
          <li>Editorial and Review Committee</li>
          <li>Geological Timescale Committee</li>
          <li>Paleolocations Committee</li>
        </ul>
          <hr>
          <p>MagIC Database Team</p>
      </div>
      <div class="ui segment">
        <div class="ui top attached label">
          Web Links
        </div>
        <ul style="padding-left: 10px;">
          <li>PALEOMAGIA</li>
          <li>PINT Database</li>
          <li>Geomagia50 Archeointensity Database</li>
          <li>DRAGON Online Database</li>
          <li>IAGA Geomagnetic Databases</li>
        </ul>
        <hr>
        <ul style="padding-left: 10px;">
          <li>FORCinel</li>
          <li>ThellierTool</li>
        </ul>
        <hr>
        <ul style="padding-left: 10px;">  
          <li>American Geophysical Union (AGU-GP)</li>
        </ul>
        <hr>
        <ul style="padding-left: 10px;">
          <li>Magnetic Petrology Database -- Interpretation of Satellite Magnetic Anomalies</li>
        </ul>
        <hr>
        <ul style="padding-left: 10px;">     
          <li>Institute for Rock Magnetism (IRM)</li>
          <li>Rock Magnetic Bestiary</li>
        </ul>
        <hr>
        <ul style="padding-left: 10px;">
          <li>CHRONOS</li>
        </ul>
        <hr>
        <ul style="padding-left: 10px;">
          <li>INTERMAGNET</li>
          <li>Digital Resources for Electromagnetic Induction Studies (MTNET)</li>
        </ul>
      </div>
    </div>
  </div>
</template>