<template name="footer">
	<div class="ui one column page grid">
		<div class="ui fluid ten item small text menu">
			<a class="item" href="/">Home</a>
			<a class="item" href="/">Databases</a>
			<a class="item" href="/">Events</a>
			<a class="item" href="/">Tools</a>
			<a class="item" href="/">Publications</a>
			<a class="item" href="/">Links</a>
			<a class="item" href="/">Copyright</a>
			<a class="item" href="/">Who's Who</a>
			<a class="item" href="/">Browsers</a>
			<a class="item" href="/">Indices</a>
		</div>
	</div>
	<div class="ui stackable two column page grid">
		<div class="left floated column" style="font-size: .75rem">
		    Sponsored by NSF Grant EAR 0000998
		</div>
		<div class="right floated right aligned column" style="font-size: .75rem">
			Developed and Maintained by Cogense, Inc.
		</div>
	</div>
</template>

