<template name="footer">
	<div class="ui borderless small fluid ten item menu">
		<a class="item" href="/">Home</a>
		<a class="item" href="/">Databases</a>
		<a class="item" href="/">Events</a>
		<a class="item" href="/">Tools</a>
		<a class="item" href="/">Publications</a>
		<a class="item" href="/">Links</a>
		<a class="item" href="/">Copyright</a>
		<a class="item" href="/">Who's Who</a>
		<a class="item" href="/">Browsers</a>
		<a class="item" href="/">Indices</a>
	</div>
	<div class="ui stackable two column grid">
		<div class="left floated column">
			<span class="item">
	    	Sponsored by NSF Grant EAR 0000998
	    </span>
		</div>
		<div class="right floated right aligned column">
			<span class="item">
				Developed and Maintained by Cogense, Inc.
			</span>
		</div>
	</div>
</template>

