<template name="submenu">
    <div id="#submenu" class="ui borderless no-box-shadow transluscent {{ portal.color }} inverted small menu">
        <div class="item">
            <div class="ui inline floating dropdown">
                <div class="text">
                    Databases
                </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" data-text="erda">EarthRef Digial Archive</div>
                </div>
            </div>
        </div>
        <div class="ui borderless transparent no-box-shadow inverted menu right">
            <a class="item">
                <i class="user icon"></i> Log In
            </a>
        </div>
    </div>
</template>

